{{#d-modal-body class="challenge-details-submission-modal"}}
  <span class="liked">
    <span class="like-value">{{model.topic.like_count}}</span>
    {{#if model.topic.liked.acted}}
      <span {{action "toggleLike"}} >{{d-icon "heart"}}</span>
    {{else}}
      <span {{action "toggleLike"}}>{{d-icon "far-heart"}}</span>
    {{/if}}
  </span>
  <div class="container-image">
    {{#if model.topic.liked.acted}}
      <span {{action "toggleLike"}} >{{d-icon "heart"}}</span>
    {{else}}
      <span {{action "toggleLike"}}>{{d-icon "far-heart"}}</span>
    {{/if}}
    <img src={{model.src}} alt="submission" class="submission-image" />
  </div>
  <span class="views-value">{{model.topic.views}}</span>
  <span class="views-icon">{{d-icon "far-eye"}}</span>
  <span class="comments-icon">{{d-icon "far-comment"}}</span>
  <span class="comments-value">{{model.topic.posts_count}}</span>

  <p class="username">{{model.username}}</p>

{{/d-modal-body}}