{{#d-modal-body class="challenge-details-submission-modal"}}
  <div class="container-full">
    <div class="container-left">
      <div class="container-image">
        <div class="container-top-like">
          {{#if model.topicPost.likeAction.acted}}
            <span
              {{action "removeVote"}}
              class="liked-heart"
              style="color: #c0394a;"
            >{{d-icon "heart"}}</span>
          {{else}}
            <span {{action "addVote"}} class="unliked-heart">{{d-icon
                "far-heart"
              }}</span>

          {{/if}}
        </div>
        <div class="lightbox-wrapper">
          <a class="lightbox" href={{model.submission.src}}><img
              src={{model.submission.src}}
              alt={{model.submission.title}}
              width="1200"
              height="1500"
              data-small-upload={{model.submission.src}}
            /><div class="meta">
              <span class="filename">
                {{model.submission.topic.title}}</span><svg
                class="fa d-icon d-icon-discourse-expand svg-icon"
                aria-hidden="true"
              ><use href="#discourse-expand"></use></svg>
            </div></a></div>
      </div>
    </div>
    <div class="container-meta">
      <div class="container-username">
        <div class="topic-avatar"><a
            class="trigger-user-card main-avatar"
            href="/u/{{model.topicPost.username}}"
            data-user-card={{model.topicPost.username}}
            aria-hidden="true"
          ><img
              alt="{{model.topicPost.username}}'s Avatar"
              width="45"
              height="45"
              size="45"
              src={{model.topicPost.avatar}}
              class="avatar"
            /></a><div class="poster-avatar-extra"></div>
        </div>
        <p class="username">{{model.topicPost.username}}</p>
      </div>
      <div class="container-topic-meta">
        <span class="views-value">{{model.submission.topic.views}}</span>
        <span class="views-icon">{{d-icon "far-eye"}}</span>
        <span class="comments-icon">{{d-icon "far-comment"}}</span>
        <span class="comments-value">{{model.postCount}}</span>
        <div class="container-bottom-like">

          {{#if model.topicPost.likeAction.count}}

            <span class="like-value">
              {{model.topicPost.likeAction.count}}</span>
          {{else}}
            <span class="like-value">0</span>
          {{/if}}

          {{#if model.topicPost.likeAction.acted}}
            <span
              {{action "removeVote"}}
              class="liked-heart"
              style="color: #c0394a;"
            >{{d-icon "heart"}}</span>
          {{else}}
            <span {{action "addVote"}} class="unliked-heart">{{d-icon
                "far-heart"
              }}</span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="container-right">
      <span class="topic-title">
        {{model.submission.topic.title}}
      </span>

      {{#each model.comments as |comment|}}
        <div class="container-comments">
          <div class="comment-username">{{comment.username}}</div>

          <img width="45" height="45" src={{comment.avatar}} class="avatar" />
          <div class="comment-cooked">{{html-safe comment.cooked}}</div>

          {{#if comment.likeAction.count}}
            <span class="comment-like-value">{{comment.likeAction.count}}</span>
          {{else}}
            <span class="comment-like-value">0</span>
          {{/if}}

          {{#if comment.likeAction.acted}}
            <span
              {{on "click" (fn this.removeLike comment)}}
              style="color:#c0394a;"
              class="comment-liked-heart"
            >{{d-icon "heart"}}</span>
          {{else}}
            <span
              {{on "click" (fn this.addLike comment)}}
              class="comment-unliked-heart"
            >{{d-icon "far-heart"}}</span>
          {{/if}}
        </div>
      {{/each}}
      <div class="input-container">
        <div class="comment-text">Your Comment:</div>
        <Textarea @value={{value}} />
        <button
          type="submit"
          {{on "click" (fn this.submitComment value)}}
          class="submit-comment-btn"
        >{{d-icon "caret-right"}}</button>
      </div>
    </div>
  </div>
{{/d-modal-body}}