{{#d-modal-body class="challenge-details-submission-modal"}}
  <div class="container-full">
    <div class="container-left">
      <div class="container-image">
        <div class="container-top-like">
          {{#if model.topicPost.likeAction.acted}}
            <span {{action "removeLike"}} class="liked-heart">{{d-icon
                "heart"
              }}</span>
          {{else}}
            <span {{action "addLike"}} class="unliked-heart">{{d-icon
                "far-heart"
              }}</span>
          {{/if}}
        </div>
        <div class="lightbox-wrapper"><a
            class="lightbox"
            href={{model.submission.src}}
            data-download-href={{model.submission.src}}
            title={{model.submission.title}}
          ><img
              src={{model.submission.src}}
              alt={{model.submission.title}}
              data-base62-sha1="sFhTxX5rnYbKv0QbCiVLUAoYvDK"
              width="1200"
              height="1500"
              srcset="{{model.submission.src}} , {{model.submission.src}}  1.5x, {{model.submission.src}}  2x"
              data-small-upload={{model.submission.src}}
            /><div class="meta">
              <svg
                class="fa d-icon d-icon-far-image svg-icon"
                aria-hidden="true"
              ><use href="#far-image"></use></svg><span class="filename">
                {{model.submission.topic.title}}</span><span
                class="informations"
              >1600×2000 865 KB</span><svg
                class="fa d-icon d-icon-discourse-expand svg-icon"
                aria-hidden="true"
              ><use href="#discourse-expand"></use></svg>
            </div></a></div>

      </div>
    </div>
    <div class="container-meta">
      <div class="container-username">

        <div class="topic-avatar"><a
            class="trigger-user-card main-avatar"
            href="/u/{{model.topicPost.username}}"
            data-user-card={{model.topicPost.username}}
            aria-hidden="true"
          ><img
              alt="{{model.topicPost.username}}'s Avatar"
              width="45"
              height="45"
              size="45"
              src={{model.topicPost.avatar_template}}
              class="avatar"
            /></a><div class="poster-avatar-extra"></div>
        </div>
        <p class="username">{{model.topicPost.username}}</p>
      </div>
      <span class="views-value">{{model.submission.topic.views}}</span>
      <span class="views-icon">{{d-icon "far-eye"}}</span>
      <span class="comments-icon">{{d-icon "far-comment"}}</span>
      <span class="comments-value">{{model.postCount}}</span>
      <div class="container-bottom-like">
        <span class="like-value">{{model.submission.topic.like_count}}</span>
        {{#if model.topicPost.likedAction.acted}}
          <span {{action "removeLike"}} class="liked-heart">{{d-icon
              "heart"
            }}</span>
        {{else}}
          <span {{action "addLike"}} class="unliked-heart">{{d-icon
              "far-heart"
            }}</span>
        {{/if}}
      </div>
    </div>
    <div class="container-right">
      <span class="topic-title">
        {{model.submission.topic.title}}
      </span>

      {{#each model.posts as |comment index|}}
        <div class="container-comments" id="container-{{index}}">

          <div
            class="comment-username"
            id="username-{{index}}"
          >{{comment.username}}</div>
          <div id="comment-cooked-{{index}}" class="comment-cooked">{{html-safe
              comment.cooked
            }}</div>
          {{#if comment.likeAction.count}}
            <span
              class="comment-like-value"
              id="like-value{{index}}"
            >{{comment.likeAction.count}}</span>
          {{else}}
            <span class="comment-like-value" id="like-value-{{index}}">0</span>
          {{/if}}

          {{#if comment.likeAction.acted}}
            <span
              {{action "removeLike"}}
              id="like-heart-{{index}}"
              class="comment-liked-heart"
            >{{d-icon "heart"}}</span>
          {{else}}
            <span
              {{action "addLike"}}
              id="like-heart-{{index}}"
              class="comment-unliked-heart"
            >{{d-icon "far-heart"}}</span>
          {{/if}}
        </div>
      {{/each}}
      <div class="input-container">
        <div class="comment-text">Your Comment:</div>
        <textarea
          name="comment-input"
          id="input"
          cols="30"
          rows="10"
        ></textarea>
        <button type="submit" class="comment-button">{{d-icon
            "caret-right"
          }}</button>
      </div>
    </div>
  </div>

{{/d-modal-body}}