{{#d-modal-body class="challenge-submission-modal"}}
  Are you sure you want to enter this image in the
  {{model.challengeName}}?
  <div>
    <button
      {{action "confirmSubmission"}}
      id="submissionConfirmation"
      data-challenge-id={{model.challengeId}}
      data-challenge-image={{model.image}}
      class="btn-primary btn btn-text ember-view"
    >Yes</button>
    <button
      {{action "closeModal"}}
      id="closeModalSubmission"
      class="button-success btn btn-text ember-view"
    >No</button>
  </div>

{{/d-modal-body}}