{{#d-modal-body class="challenge-details-submission-modal"}}
  <span class="like-count">
    <span class="value">{{model.post.likeAction.count}}</span>
    {{#if model.post.likeAction.acted}}
      <span {{action "toggleLike"}} style="color: red">{{d-icon "heart"}}</span>
    {{else}}
      <span {{action "toggleLike"}}>{{d-icon "heart"}}</span>
    {{/if}}
  </span>
  <div class="container-image">
    {{#if model.post.likeAction.acted}}
      <span {{action "toggleLike"}} style="color: red">{{d-icon "heart"}}</span>
    {{else}}
      <span {{action "toggleLike"}}>{{d-icon "heart"}}</span>
    {{/if}}
    <img src={{model.src}} alt="submission" class="submission-image" />
  </div>
{{/d-modal-body}}