<div class="challenges-list">
  <ActiveChallengesList />
</div>
<div class="challenge-container">
  <ChallengeDescription
    @challenge={{this.model.challenge}}
    @statusIsOpen={{this.model.isOpen}}
  />
</div>

{{#each this.model.submissions as |submission|}}
  <div class="challenge-scorebar-component">
    <ScoreBar
      @submission={{submission}}
      @statusIsOpen={{this.model.isOpen}}
      @totalSubmissions={{this.model.totalSubmissions}}
    />
  </div>
  <div class="submission-container">
    <ChallengeSubmission
      @submission={{submission}}
      @statusIsOpen={{this.model.isOpen}}
      @statusIsClosed={{this.model.isClosed}}
    />
  </div>
{{/each}}