<div class="challenges-list">
  {{active-challenges-list}}
</div>
<div
  class="challenge-container"
  style="background:url({{this.model.challenge.thumbnail}}); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  "
>
  <div class="row">
    <h1>{{this.model.challenge.name}} </h1>
  </div>
  <Countdown @endDate={{this.model.challenge.end_date}} />
  <p>
    {{this.model.challenge.description}}
  </p>
  <div class="challenge-links">
    <p>You must be logged in to enter. Your entry must be an image previously
      posted in a topic. To enter a
      <br />
      new image, first create a topic containing that image.
      <a href="#">More Info</a>
    </p>
    <ChallengeDetails />
  </div>
</div>