{{#each challenges as |challenge|}}
  <div class="active-challenge">
    <a href="https://pixologic.com/challenge-details/{{challenge.id}}">
      <img
        src={{challenge.thumbnail}}
        alt="image"
        class="active-challenge-thumbnail"
      />
    </a>
    {{#if challenge.isClosed}}
      <div class="trophy-icon">
        {{d-icon "trophy"}}
      </div>
      <div class="closed-text">
        <span class="closed">{{challenge.name}}</span>
      </div>
    {{else if challenge.isOpen}}
      <div class="chess-icon">
        {{d-icon "chess"}}
      </div>
      <div class="open-text">
        <span class="open">{{challenge.name}}</span>
      </div>
    {{/if}}
  </div>
{{/each}}